<button (click)="logIn()">Login</button>
<button (click)="logOff()">Logoff</button>
<button (click)="logOff(true)">Revoke and Logoff</button>

<ng-container *ngIf="connected$ | async">
  <span
    [ngStyle]="{
      marginLeft: '5px',
      padding: '2px',
      color: 'white',
      backgroundColor: 'green'
    }"
    >Connected</span
  >

  <hr />
  <img [src]="picture$ | async" />
</ng-container>

<span
  *ngIf="(connected$ | async) === false"
  [ngStyle]="{
    marginLeft: '5px',
    padding: '2px',
    color: 'white',
    backgroundColor: 'red'
  }"
  >Disconnected</span
>

<!-- <router-outlet></router-outlet> -->
