<button (click)="logIn()">Login</button>
<button (click)="logOff()">Logoff</button>
<button (click)="logOff(true)">Revoke and Logoff</button>
<button (click)="getAccessToken()">Get access token</button>

<ng-container *ngIf="authService.authState | async as socialUser">
  <span
    [ngStyle]="{
      marginLeft: '5px',
      padding: '2px',
      color: 'white',
      backgroundColor: 'green'
    }"
    >Connected</span
  >

  <hr />
  <img [src]="socialUser.photoUrl" />
  <p>Hello {{ socialUser.name }}</p>
</ng-container>

<span
  *ngIf="(authService.authState | async) === null"
  [ngStyle]="{
    marginLeft: '5px',
    padding: '2px',
    color: 'white',
    backgroundColor: 'red'
  }"
  >Disconnected</span
>
